<a href="https://colab.research.google.com/github/avinashpawar1824/Python-learning/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
x= 5
print(type(x))

<class 'int'>

In [ ]:
a = 56
print(a)

56

In [ ]:
type(a)

int

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
x = float(50)
print(x)

50.0

In [ ]:
print(type(x))

<class 'float'>

In [ ]:
#Addition of two number.
x = 20
y = 30
z = x-y
print("substraction of two number x and y")
print(z)

substraction of two number x and y
-10

In [ ]:
#addtion of two number
a= 30
b= 40
print("addition of two number")
print(a+b)

#substraction of two number
c= 70
d= 90
print("substraction of two number")
print (c-d)

addition of two number
70
substraction of two number
-20

In [ ]:
a= 23
b= "baap"
c= str(a)+b
print(c)

23baap

In [ ]:
# Addition of 4 number in floting
a = 10.8
b = 20.8
c = 30.7
d = 40.5
print(a+b+c+d)

102.8

In [ ]:
#print paragraph using print function
p ="There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types"
print(p)

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types

In [ ]:
#multiplication of 3 variables
x= 20
y= 40
z= 50
print("Multiplication of 3 variables is")
print(x*y*z)

Multiplication of 3 variables is
40000

In [ ]:
print("hello")

hello

In [ ]:
# print string number
str=("hello world")
print(len(str))

11

In [ ]:
#print first alphabet
a = "Baap"
print(a[3:4])
#end position is not included in slicesing
#index starting position from zero

p

In [ ]:
#print all els
str="BAAP"
print(str[0])
print(str[1])
print(str[2])
print(str[3])

B
A
A
P

In [ ]:
#print last two alphabete
a="Baap"
print(a[2:4])

ap

In [ ]:
#print last two wold in reverse positions
a="BAAP"
print(a[-1:4])

P

In [ ]:
#print one after another
a="BAAP"
print(a[0:4:2])

BA

In [ ]:

a="COMPANY"
print(a[0:7])

COMPANY

In [ ]:
#Print(x[start:stop:step])
a="COMPANY"
print(a[0:4:7])

C

In [ ]:
#Print first and last
a="COMPANY"
print(a[0:7:6])

CY

In [ ]:
#Print reverse string
a="COMPANY"
print(a[::-1])

YNAPMOC

In [ ]:
#Print y and c
a="COMPANY"
print(a[-1:-3:-1])

YN

In [ ]:
#Print y, n, a and p
a="COMPANY"
print(a[-1:-5:-1])

YNAP

In [ ]:
#print hello wold
a="Hello World"
print(a)

Hello World

In [ ]:
#print hello wold with length
a="Hello World"
print(a)
len(a)

Hello World

11

In [ ]:
#print hello wold with Reverse
a="Hello World"
print(a[::-1])

dlroW olleH

In [ ]:
#print hello wold with upper function
a="Hello World"
print(a.upper())

HELLO WORLD

In [ ]:
#print hello wold with lower function
a="Hello World"
print(a.lower())

hello world

In [ ]:
#print hello wold with 3 times
a= "Hello World"
print(a*3)

Hello WorldHello WorldHello World

In [ ]:
#print hello wold with strip functions
x= "Hello World"
print(x.strip())

Hello World

In [ ]:
#print hello wold with using 5 function
a="Hello World"
print(a.lower())
print(a.uppper())
print(a.strip())
print(a.replace("H", "J"))

hello world

AttributeError: 'str' object has no attribute 'uppper'

In [ ]:
#print hello wold with using replace function
a="Hello World"
print(a.replace("H", "J"))

Jello World

In [ ]:
#print MCA with using replace function
a="MCA"
print(a.replace("M", "A"))

ACA

In [ ]:
#print Baap Company using merge (a+b)
a="Baap"
b="Company"
z=(a+" "+b)
print(z)

Baap Company

In [ ]:
#print Baap Company using merge (a+b) using (x.strip())
a="    Baap"
b="Company"
w=(a.strip())
z=(a+" "+b)
print(z)

    Baap Company

In [ ]:
#print Baap
a="Baap"
print(f"Company Name is {a}")

Company Name is Baap

In [ ]:
#print
Addresse="431213"
print(f"I live in sangmner my pin is {Addresse}")

I live in sangmner my pin is 431213

In [ ]:
Name="Avinash"
SirName="Pawar"
Number="7620625905"
education="MCA"
print(f"My name is {Name} and my sir Name is {SirName} my Number is {Number} I have completed my post graduation in {education}")

My name is Avinash and my sir Name is Pawar my Number is 7620625905 I have completed my post graduation in MCA

In [ ]:
#Converts the first character to upper case
a="Welcome my wold"
x=a.capitalize()
print(x)

Welcome my wold

In [ ]:
#Converts string into lower case
a="Welcome my wold"
x=a.casefold()
print(x)

welcome my wold

In [ ]:
#Returns a centered string
a="Welcome my wold"
x=a.center(20)
print(x)

  Welcome my wold

In [ ]:
#Returns the number of times a specified value occurs in a string
a="I love apples, apple are my favorite fruit"
x=a.count("apple")
print(x)

2

In [ ]:
#Returns an encoded version of the string
a = "My name is Avinash"
x = a.encode()
print(x)

b'My name is Avinash'

In [ ]:
#Returns true if the string ends with the specified value
a = "My name is Avinash"
x = a.endswith("Avinash")
print(x)

True

In [ ]:
#Sets the tab size of the string
a = "A\tv\ti\tn\ta\ts\th"
x = a.expandtabs(2)
print(x)

A v i n a s h

In [ ]:
#Lists are used to store multiple items in a single variable.
#List items are ordered and changeable.

#What is a List?
#A list in Python is a mutable, ordered collection of elements. Lists can store elements of different data types like integers, strings, or even other lists.


mylist = ["Shirt", "Payment", "Shoppings"]
print(mylist)

['Shirt', 'Payment', 'Shoppings']

In [ ]:
#print name using list variable
studentName = ["Avinash", "Varad", "Anand", "Arsland", "Akash"]
print(studentName[2])

Anand

In [ ]:
#print last name using list variable
studentName = ["Avinash", "Varad", "Anand", "Arsland", "Akash"]
print(studentName[4])

Akash

In [ ]:
#print Reverse direction
studentName = ["Avinash", "Varad", "Anand", "Arsland", "Akash"]
print(studentName[::-1])

['Akash', 'Arsland', 'Anand', 'Varad', 'Avinash']

In [ ]:
#print using this step (a[start:stop:steps])
studentName = ["Avinash", "Varad", "Anand", "Arsland", "Akash"]
print(studentName[0:6:2])

['Avinash', 'Anand', 'Akash']

In [ ]:
#print D, E, F
studentName = ["A", "B", "C", "D", "E", "F"]
print(studentName[3:6])

['D', 'E', 'F']

In [ ]:
#print B, C
studentName = ["A", "B", "C", "D", "E", "F"]
print(studentName[1:3])

['B', 'C']

In [ ]:
# Add G element in variables
studentName = ["A", "B", "C", "D", "E", "F"]
studentName.append('G')
print(studentName)

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [ ]:
# print datatype
studentName = ["A", "B", "C", "D", "E", "F"]
studentName.append('G')
print(type(studentName))

<class 'list'>

In [ ]:
# print Baap using Append
studentName = ["A", "B", "C", "D", "E", "F"]
studentName.append('Baap')
print(studentName)

['A', 'B', 'C', 'D', 'E', 'F', 'Baap']

In [ ]:
# print only Baap
studentName = ["A", "B", "C", "D", "E", "F"]
studentName.append('Baap')
print(studentName[6])

Baap

In [ ]:
#print 300, and mark
collage=[100, 200, 300, 'student', 'marks']
print(collage[2:5:2])

[300, 'marks']

In [ ]:
#print all list
collage=[100, 200, 300, 'student', 'marks']
print(collage)

[100, 200, 300, 'student', 'marks']

In [ ]:
#print company and datatype
collage=[100, 200, 300, 'student', 'marks']
a="company"
print(a)
type(a)

company

str

In [ ]:
#print company and datatype
a="company"
print(a)
type(a)

company

str

In [ ]:
#print 100 and mark
collage=[100, 200, 300, 'student', 'marks']
print(collage[0:5:4])

[100, 'marks']

In [ ]:
# print Baap within 100...
Collage = [100, 200, 300, 'student', 'marks']
Collage[0] = 'Baap'
print(Collage)

['Baap', 200, 300, 'student', 'marks']

In [ ]:
# print student within Teacher
Collage = [100, 200, 300, 'student', 'marks']
Collage[3] = 'Teacher'
print(Collage)

[100, 200, 300, 'Teacher', 'marks']

In [ ]:
# remove 300 using remove variable
Collage = [100, 200, 300, 'student', 'marks']
Collage.remove(300)
print(Collage)

[100, 200, 'student', 'marks']

In [ ]:
# remove 200 and add 2000
Collage = [100, 200, 300, 'student', 'marks']
Collage[1] = 20000
print(Collage)

[100, 20000, 300, 'student', 'marks']

In [ ]:
# We can list multiple datatype store.
data = [111, 'Avinash', 11.1, (1, 2, 3, 4), 'true']
print(data)
print(type(data))

[111, 'Avinash', 11.1, (1, 2, 3, 4), 'true']
<class 'list'>

In [ ]:
#insert school using insert variable
data = [111, 'Avinash', 11.1, (1, 2, 3, 4)]
data.insert(0, 'school')
print(data)

['school', 111, 'Avinash', 11.1, (1, 2, 3, 4)]

In [ ]:
#insert school using insert variable
data = [111, 'Avinash', 11.1, (1, 2, 3, 4)]
data.insert(0, 'school')
print(data)

['school', 111, 'Avinash', 11.1, (1, 2, 3, 4)]

In [ ]:
#Searches the string for a specified value and returns the position of where it was found
name = "Avinash Pawar"
x = name.find("Pawar")
print(x)

8

In [ ]:
#print minimun values
a= (37,97,23,78)
print(min(a))

23

In [ ]:
#print values using sum function
list = (11,22,33,44)
print(sum(list))

110

In [ ]:
#print values using sum function
list = (1,2,3,'4::')
print(sum(list))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#print list1 and list2 using sum functions
list1 = (1,2,3,4)
list2 = (5,6,7)
print(sum(list1+list2))
print(type(list1+list2))

28
<class 'tuple'>

In [ ]:
# print using sorted function
G1 = [22,33,7,44,8,77]
print(sorted(G1))

[7, 8, 22, 33, 44, 77]

In [ ]:
#find second largest number in G2
G2 = [786,33,1000,44,8,77]
x = (sorted(G2))
print(x[-2])

786

In [ ]:
#print smallest number
G3 = [7878,4000,1000,440,08,77]
x = (sorted(G3))
print(x[0])

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-27-935dfe2d49b0>, line 1)

In [ ]:
#print the third largest element in the list
G4 = [7878,4000,1000,440,8,77]
x = (sorted(G4))
print(x[-2])

4000

In [ ]:
#print frute in list
G4 = ['Mango', 'banana', 'apple', 'grapes', 'watermelon']

for x in G4:
    print(x)

Mango
banana
apple
grapes
watermelon

In [ ]:
# print number using for x
G5 = [111, 289, 789, 656, 379]
for x in G5:
    print(x)

111
289
789
656
379

In [ ]:
# print number and name using for look
G6 = [11, 28, 78, 66, 39, 'avinash','pawar',10.4]
for x in G6:
  print(x)

11
28
78
66
39
avinash
pawar
10.4

In [ ]:
#print cube root
num = [1,2,3,4,5]
for x in num:
  print(x*x*x)

1
8
27
64
125

In [ ]:
#print squre root
num = [1,2,3,4,5]
for x in num:
  print(x*x)

1
4
9
16
25

In [ ]:
#print range of 6
num = [1,2,3,4,5,6,7,8,9]
range(6)

range(0, 6)

In [ ]:
#print range of 0 to 6
num = [1,2,3,4,5,6,7,8,9]
for x in range(0,6):
  print(x)

0
1
2
3
4
5

In [ ]:
# Print the sorted list
list = [111, 279, 996, 75, 57, 38]
list.sort()
print(list)

[38, 57, 75, 111, 279, 996]

In [ ]:
#print m2 using copy function
m1=[1,2]
m2=m1.copy()
print(m2)

[1, 2]

In [ ]:
#
a = [a,b,c,d]
print(a))

SyntaxError: unmatched ')' (<ipython-input-6-2c17dc15b75d>, line 3)

In [ ]:
#program to find sum of no. in list
list = [1,2,3,4,5]
print(sum(list))

15

In [ ]:
# use for look
list = [1,2,3,4,5]
for i in list:
  print(x)

5
5
5
5
5

In [ ]:
#program to find sum of no in list
num = [1,2,3,4,5]
for i in num:
  total = 2
  total = total + i
  print(total)

3
4
5
6
7

In [ ]:
list1=[1,2,3,4,5]
sum=0
for i in list1:
  sum=sum+i
print(sum)

15

In [ ]:
#program to create list using range function
L1=[1,2,3,4,5,6,]
for i in range(1,6):
  L1.append(i)
print(L1)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

In [ ]:
#program to take inpute from user & print
x = int(input("Enter the number:"))
print(x)

Enter the number:1243
1243

In [ ]:
#program to take inpute from user & print
y = int(input("Enter the number:"))
print(y)

Enter the number:133
133

In [ ]:
#program to take inpute user and print
name = input("Enter the name:")
print(name)
print(name)

Enter the name:The Baap Company
The Baap Company
The Baap Company

In [ ]:
#program to addition two number
a = int(input("Enter the number:"))
b = int(input("Enter the number:"))
print(a+b)

Enter the number:12
Enter the number:23
35

In [ ]:
#program to addition firstname and last name
a = input("Enter the firstname:")
b = input("Enter the lastname:")
print(a+b)

Enter the word:avinash
Enter the word:pawar
avinashpawar

In [ ]:
#program to substraction two numbers
a = 20
b = 10
print(a-b)

10

In [ ]:
#program to division two number
a = 30
b = 50
print(a/b)

0.6

In [ ]:
#program to multiplication two number
a = 60
b = 70
print(a*b)

4200

In [ ]:
#program to empty squre using for look and range function.
sq = []
for i in range(1,11):
  sq.append(i*i)
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#program to even or odd no.
num = [1,2,3,4,5,6]
even = []
odd = []
for i in num:
  if i%2==0:
    even.append(i)
  else:
      odd.append(i)
print(even)
print(odd)

[2, 4, 6]
[1, 3, 5]

In [ ]:
#program to separate positive or negative number
num = [1,2,3,4,5,6,-33,-44,-5]
positive = []
negative = []
for i in num:
  if i>0:
    positive.append(i)
  else:
    negative.append(i)
print(positive)
print(negative)

[1, 2, 3, 4, 5, 6]
[-33, -44, -5]

In [ ]:
#program to large and small number
num = [100,200,78,300,1,2,500,786,92]
large = []
small = []
for i in num:
if i>100:
  large.append(i)
  else:
    small.append(i)
    print(large)
    print(small)

IndentationError: expected an indented block after 'for' statement on line 5 (<ipython-input-44-bbcb4f0c1027>, line 6)

In [ ]:
#program to run leap year
a1= int(input("inter leap year:"))
if a1%4==0:
  print("leap year")

inter leap year:2024
leap year

In [ ]:
#Program to run age is greater than 18 to participate in election and not 18 is not election
age = [18,20,21,22,23,24,25,26,30,40]
election = []
not_election = []
for i in age:
  if i>18:
    election.append(i)
  else:
    not_election.append(i)
print(election)
print(f'for non election {election}')

[20, 21, 22, 23, 24, 25, 26, 30, 40]
for non election [20, 21, 22, 23, 24, 25, 26, 30, 40]

In [ ]:
#program to run 5th table
num = 5
for i in range(1,11):
  print(num, "x", i, "=", num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#program to run 10th table
num = 10
for i in range(1,11):
  print(num*i)

10
20
30
40
50
60
70
80
90
100

In [ ]:
#program to run pallendrom
s = str(input("Enter the string:"))
if s==s[::-1]:
  print("pallendrom")
else:
  print("not pallendrom")

Enter the string:pop
pallendrom

In [ ]:
#program to run star line using num and range function
num = 5
range(1,5)
for i in range(1,5):
  print("*"*i)

*
**
***
****

In [ ]:
#program to run star
num =5
for i in range(1,6):
  print("*"*i)

*
**
***
****
*****

In [ ]:
#program to run star in rever condition down to up
num = 5
for i in range(5,0,-1):
  print("*"*i)

*****
****
***
**
*

In [ ]:
#program to tuple function
tuple = ('aaple','cherry','banan')
print(tuple)

('aaple', 'cherry', 'banan')

In [ ]:
#program to tuple function and add one food
tuple = ('aaple','cherry','banan')
tuple = tuple + ('grapes',)
print(tuple)

('aaple', 'cherry', 'banan', 'grapes')

In [ ]:
#program to run add two veriables
t1 = ('mango', 'banana', 'apple', 'grapes', 'watermelon')
t2 = ('mango', 'banana', 'apple', 'grapes', 'watermelon')
t1 = t1 + t2
print(t1)

('mango', 'banana', 'apple', 'grapes', 'watermelon', 'mango', 'banana', 'apple', 'grapes', 'watermelon')

In [ ]:
#program to run two number using for look
t1 = (1,2,3,4,5,6)
t2 = (7,8,9,0)
for i in t1:
  for j in t2:
    print(i,j)

1 7
1 8
1 9
1 0
2 7
2 8
2 9
2 0
3 7
3 8
3 9
3 0
4 7
4 8
4 9
4 0
5 7
5 8
5 9
5 0
6 7
6 8
6 9
6 0

In [4]:
#program to run tuple
T3 = (1,2,3,4,5,6,6,1,2,3,5,7,1,2,3,3,1)
x = T3.count(3)
print(x)

4

In [9]:
#program to run index function
T3 = (1,2,3,4,5,6,6,1,2,3,5,7,1,2,3,3,1)
x = T3.index(3)
print(x)

2

In [10]:
#program to run index function
T3 = (1,2,3,4,5,6,6,1,2,3,5,7,1,2,3,3,1)
x = T3.index(3)
y = T3.index(3,x+1)
print(y)

9

In [13]:
#program to run using set variable
#set item are Unorder and unchangeble and do not allow dublicate value
#list []
#tuple ()
#set {}

T3 = {1,2,3,4,5,6,6,1,2,3,5,7,1,2,3,3,1}
T3.add(100)
print(T3)

{1, 2, 3, 4, 5, 6, 7, 100}

In [19]:
#program to run using set function
M1 = {1,2,3,4,5,6,6,1,2,3,5,7,1,2,3,3,1}
M1.add(1)
print(M1)

{1, 2, 3, 4, 5, 6, 7}

In [15]:
#program to run check type using set function
M1 = {1,2,3,4,5,6,6,1,2,3,5,7,1,2,3,3,1}
print(type(M1))

<class 'set'>

In [20]:
#program to run using list function
M1 = [1,2,3,4,5,6,6,1,2,3,5,7,1,2,3,3,1]
print(M1)

[1, 2, 3, 4, 5, 6, 6, 1, 2, 3, 5, 7, 1, 2, 3, 3, 1]

In [21]:
#program to run using remove function
M1 = {1,2,3,4,5,6,6,1,2,3,5,7,1,2,3,3,1}
M1.remove(1)
print(M1)

{2, 3, 4, 5, 6, 7}

In [22]:
#program to run two set
a = {1,2,3}
b = {3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [24]:
#program to run two set
a = {1,2,3}
b = {3,4,5}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5}

In [28]:
#program to run using intersection (outpute is comman number)
a = {1,2,3,4,5,6}
b = {3,4,5,6,7,8}
print(a.intersection(b))

{3, 4, 5, 6}

In [30]:
#program to run two set
a1 = {1,2,3,4,}
a2 = {3,4,5,6}
a3 = a1.difference(a2)
print(a3)

{1, 2}

In [34]:
#program to run using subset
a1 = {1,2,3,4,}
a2 = {3,4,5,6}
print(a1.issubset(a2))

False

In [35]:
# Define two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2
if set1.issubset(set2):
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

In [37]:
#program to run 3 set and find min and mix
a1 = {1,2,3,4,}
a2 = {3,4,5,6}
a3 = {5,6,7,8}
print(min(a1,a2,a3))
print(max(a1,a2,a3))

{1, 2, 3, 4}
{1, 2, 3, 4}

In [39]:
#program to run set using clear function
a1 = {1,2,3,4,}
a1.clear()
print(a1)

set()

In [40]:
#program to run dict used to store data int value (digit, )
#dict are collaction which is order and do not changeable

d1 = {"name":"Baap", "location":"paregaon"}
print(d1)

{'name': 'Baap', 'location': 'paregaon'}

In [41]:
#program to run dic cheack type
d1 = {"name":"Baap", "location":"paregaon"}
print(type(d1))

<class 'dict'>

In [42]:
#program to cheack len
d1 = {"name":"Baap", "location":"paregaon"}
print(len(d1))

2

In [43]:
#print only location
d1 = {"name":"Baap", "location":"paregaon"}
print(d1["location"])

paregaon